.container {
  display: flex;
  flex-direction: row;
}
.container img {
  width: 150px;
  padding: 0 2rem;
}
.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px #666 solid;
  display: flex;
}

.indicator.active {
  color: #fff;
  background: #666;
}
.image {
  height: 30px;
}
@media screen and (max-width: 600px) {
  .image {
    height: 5px;
  }
}
