@import '~react-image-gallery/styles/css/image-gallery.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.next-icon {
  fill: rgba(124, 58, 237);
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 5rem;
}

.bx {
  font-size: 1.5rem;
}
.map {
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 700px) {
  .map {
    width: 100%;
    height: 100%;
  }
}
nav {
  z-index: 1;
}
.service {
  z-index: -1;
}
